@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Main CSS Start From Here */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { font-family: Arial, Helvetica, sans-serif;}

.navbar .wrapper {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
}

.brand-title {
  font-size: 2rem;
  margin: .5rem;
  font-weight: 900;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li { list-style: none; }

.navbar-links li a { 
  text-transform: uppercase;
  text-decoration: none; 
  color: #333; 
  padding: 1rem; 
  display: block;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.navbar-links li:hover { background: #f4f4f4; }

/* toggle button */

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 10px;
}

/* responsive css */

@media (max-width:750px) {
  
  .toggle-button { display: flex;}

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar .wrapper {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links li { text-align: center; }
  .navbar-links li a { padding: .5rem 1rem; }
  .navbar-links.active { display: flex; }
  
}

/* banner html */

.banner { background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/img/field.jpg") no-repeat center center/cover;}

.banner-text {
    padding-top: 17%;
    padding-bottom: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.banner p {
    color: #fff;
    font-size: 3rem;
    margin: 0 auto;
    text-transform: capitalize;
    text-align: center;
    max-width: 95%;
    margin:0 auto;
}

.read-btn {
    text-decoration: none;
    margin-top: 5%;
    padding: 15px 20px;
    background: #fff;
    color: #333;
    text-transform: capitalize;
    border-radius: 20px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

/* about section start */

.about .wrapper {
    display: flex;
}

.about .wrapper > * {
    flex-basis: 100%;
}

.about .wrapper h2 {
    font-size: 1.7rem;
    text-transform: capitalize;
    padding-top: 8%;
    padding-bottom: 20px;
}

.about .wrapper p {
    line-height: 1.6;
}

.about a {
    display: inline-block;
    text-decoration: none;
    padding: 12px 18px;
    margin-top: 20px;
    background: #333;
    color: #fff;
    text-transform: capitalize;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-bottom: 10%;
}

.about-content , .history {
    padding-left: 25px;
    padding-right: 20px;
}

/* .about-content { border-right: 1px solid #333; } */

.history {
    background: #333;
    color: #fff;
}

.history a {
    background: #fff;
    color: #333;
}

/* about media queries */

@media (max-width:750px){
    .about .wrapper {
        flex-direction: column;
    }
}

/* news section start */

.news {
  margin-top: 50px;
 
  
}
.news img, .club-news img , .gallery img {
  width: 100%;
  height: 100%;
}

.news li, .club-news li , .gallery-images li { list-style: none; max-width: 300px;}

.news figure , .club-news figure , .gallery figure {
  /* width: 315px; */
  height: 200px;
}

.news-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  
}

.news-one > * {
  flex-basis: 100%;
}

.news a, .club-news a {
  display: inline-block;
  padding-top: 15px;
  color: #333;
  text-decoration: none;
  line-height: 1;
}

.news h2, .club-news h2, .gallery h2 {
  padding-bottom: 50px;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.news h2 { padding-top: 50px;}

.club-news {
  margin-top: 3.8%;
  background: #fff;
  color: #333;
}

.club-news a { color: #333;}

.club-news h2 { padding-top: 50px;}

.club-news { padding-bottom: 50px;}


@media (max-width:660px){
  .news-one {
    flex-direction: column;
  }

}

/* gallery section css */

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery-btn a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 14px;
  margin-right: 20px;
  /* background: #37003c; */
  background: #333;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
  transition: all 0.5s ease-in;
  margin-bottom: 10px;
}

.gallery-btn a:hover {
  background: #c1c1c1;
  color: #333;
}

.gallery h2 {
  padding-bottom: 30px;
}

.gallery li { list-style: none;}

.gallery-images { margin-top: 40px;}

.gallery-images img { border-radius: 5px;}

/* sponsors */

.sponsors {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("/img/field.jpg") no-repeat center center/cover;;
}

.sponsors li { list-style: none;}

.spons-list {
  /* padding: 40px 25px; */
  /* padding: 20px 25px 80px 25px; */
  padding-top: 30px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  gap:4rem;
  align-items: center;
  flex-wrap: wrap;
}

.sponsors h2 {
  text-align: center;
  color: #f4f4f4;
  padding-top: 70px;
  /* padding-bottom: 50px; */
  font-size: 2rem;
  text-transform: capitalize;
}

@media (max-width:1112) {
  .sponsors li {
    flex: 25%;
  }

}


/* footer */

footer .footer-content {
  padding-bottom: 40px;
  background: #333;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  gap: 3.5rem;
  /* padding-right: 25px; */
}

/* footer .wrapper > * {
  flex-basis: 100%;
} */

footer li { list-style: none;}

footer .footer-content a { 
  display: inline-block;
  text-decoration: none; 
  padding-bottom: 8px;
  color: #fff;
  font-size: 0.8rem;
  text-transform: capitalize;
  transition: all ease-in 0.2s;
}


footer .footer-content a:hover {
  color: #666;
}

.Two-ul {
  display: flex;
}

.Two-ul > * {
  flex-basis: 100%;
}

footer h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
  color: #fff;
  /* padding-top: 50px; */
  /* padding-bottom: 15px; */
}

.copy-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  text-align: center;
}

.social {
  display: flex;
  align-items: center;

}

.social a {
  text-decoration: none;
  padding-right: 15px;
  color: #333;
  font-size: 1.5rem;
  transition: 0.3s all ease-in;
}
.social a:hover {
  color: #999;
}

.copy {
  padding: 30px 25px 30px 60px;
}

/* .wrapper { max-width: 95%;} */

/* icons */


.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fb::before, .insta::before, .tw::before, .yt::before {
  font-family: "Font Awesome 5 Brands"; 
  font-weight: 900; 
  content: "\f09a";
}

.tw::before { content: "\f099";}
.insta::before { content: "\f16d";}
.yt::before { content: "\f167";}

.social span {
  opacity: 0;
}

@media (max-width:550px) {
  .copy-ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .social {
    padding-top: 20px;
  }
}